
.container {
  position: relative;
}

header{
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 9px;
  margin-bottom: 25px;
}

.header__left, .header__right {
float: left;
width: 50%;

}

.header__left{
  padding-top: 9px;
  padding-left: 130;
}
.header__right{
  text-align: right;
}

.user__foto{
border: 1px #c5c5c5;
border-radius: 50px;
overflow: hidden;
display: inline-block;
vertical-align: middle;

}

.user__foto-pic {
  display: block;
}

.user__name{
  display: inline-block;
  vertical-align: middle;
  margin-left: 19px;
  max-width: 235px;
}

.contacts {
  margin-top: 20px;
	display: inline-block;
	position: relative;

  &:hover {

    .contacts__trigger {
      background: url('../img/decor/dotted-hover.png') 0 bottom no-repeat;
      color: #e85f61;
    }
    .contacts__dropdown {
      display: block;
    }
  }
}

.contacts__trigger {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #33c1e3;
  text-decoration: none;
  background: url('../img/decor/dotted.png') 0 bottom repeat-x;
}


.contacts__dropdown {
	padding: 15px 18px;
	background: #fff;
	border: 1px solid #dedede;
	border-radius: 10px;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	margin-top: 12px;
	display: none;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 30px;
		top: -28px;
	}
}



.contacts__dropdown-triangle {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 20px;

  &:after, &:before {
  		content: "";
  		display: block;
  		width: 0;
  		height: 0;
  		border: 10px solid transparent;
  		border-top-width: 0px;
  		top: 0px;
  		position: absolute;
  		left: 0;
  		transform: translate(-50%);
  	}

  &:before {
		border-bottom-color: #dedede;

	}

	&:after {
		border-bottom-color: #fff;
		margin-top: 1px;
	}
}

.contacts__dropdown-link {
	white-space: nowrap;
	font-size: 18px;
	font-family: "fira_sanslight";
	color: #414141;
	text-decoration: none;
	text-align: left;
	display: block;
}


.contacts__dropdown-icon {
	color: #33c1e3;
	margin-right: 15px;
}

.contacts__dropdown-item {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contacts__trigger {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #33c1e3;

}

.drop__link {
  font-size: 20px;
  text-decoration: none;
}
